$primaryColor:rgb(138, 73, 138);

body{
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: rgb(151, 93, 151);
}

.site-header nav {
    
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        float: left;
        margin-right: 10px;
    }

    a{
        display: block;
        padding: 10px;
        background-color: $primaryColor;
        color: #fff;
        text-decoration: none;
    }
}

.btn-a{
    display: inline-block;
    padding: 15px;
    margin-right: 15px;
    border: 1px solid $primaryColor;
    border-radius: 7px;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

btn-b {
    @extend .btn-a;
    background-color: #000;
}